* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "JetBrainsMono Nerd";
}

@font-face {
  font-family: "JetBrainsMono Nerd";
  src: local("JetBrainsMono Nerd Font"),
    url("fonts/JetBrainsNerdFontMono-Regular.ttf") format("truetype"), local("monospace");
  font-display: swap;
}

:root {
  --bg-color: #2e3440;
  --bg-dim-color: #2e3440;
  --fg-color: #d8dee9;
  --search-input-color: #d8dee9;
  --search-btn-color: #a3be8c;
  --primary-color: #81a1c1;
  --primary-dim-color: #88c0d0;
  --secondary-color: #a3be8c;
  --secondary-dim-color: #d08770;
  --third-color: #ebcb8b;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: var(--bg-color);
  font-family: "JetBrainsMono Nerd";
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  max-width: 1080px;
  width: 80%;
  height: 340px;
  display: flex;
}
.img-holder {
  max-width: 15em;
  width: 40%;
  margin-right: 1em;
  margin-bottom: 0;
  overflow: hidden;
  position: relative;
}
.img-holder img {
  object-fit: cover;
  filter: blur(2px);
  opacity: 0.6;
}

.img-holder #time {
  width: auto;
  padding: 0;
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  color: hsl(0, 0%, 86%);
  font-size: 4rem;
}

.searchbox {
  width: 100%;
  display: flex;
  margin-bottom: 1em;
}

.searchbox input {
  font-size: 1rem;
  font-family: "JetBrainsMono Nerd";
  width: 100%;
  padding: 0.7em;
  color: var(--search-input-color);
  background-color: var(--bg-color);
  border: none;
  outline: none;
}

.searchbox:focus-within {
  outline: 1px var(--secondary-color) solid;
}

.searchbox #searchButton {
  font-size: 1rem;
  font-family: "JetBrainsMono Nerd";
  padding: 0 1em;
  color: var(--search-btn-color);
  background-color: var(--bg-color);
  border: none;
  outline: none;
  transition: background-color 0.4s ease;
}

.searchbox button:focus-visible,
.searchbox button:hover {
  cursor: pointer;
  background-color: var(--bg-dim-color);
}

.main {
  width: 100%;
  padding: 1.5em;
  background-color: hsla(232, 14%, 31%, 0.3);
  overflow: auto;
  scrollbar-color: var(--secondary-color) var(--third-color);
  scrollbar-width: thin;
}

.main h1 {
  color: var(--primary-color);
}

.main h2 {
  color: var(--primary-dim-color);

  margin-bottom: 1em;
}

.main a {
  text-decoration: none;
  color: var(--secondary-color);
  padding: 0.5em;
  position: relative;
  outline: none;
}

.main a:hover,
.main a:focus-visible,
.main a:active {
  color: var(--primary-color);
}

.main a:hover::before,
.main a:focus-visible::before {
  content: "îªœ";
  font-family: "JetBrainMono Nerd";
  position: absolute;
  left: -0.75rem;
}

.main::-webkit-scrollbar {
  width: 0.4em;
  height: 0.4em;
}

.main::-webkit-scrollbar-track {
  background-color: var(--third-color);
}

.main::-webkit-scrollbar-thumb {
  background-color: var(--secondary-color);
}

.main::-webkit-scrollbar-thumb:hover {
  background-color: var(--secondary-dim-color);
}

.bookmarks {
  display: flex;
  justify-content: space-between;
  gap: 5rem;
}

.bookmarks-row {
  display: flex;
  flex-direction: column;
}

dialog {
  margin: auto;
  padding: 1em;
  border: none;
  background-color: var(--bg-dim-color);
  color: var(--fg-color);
  width: 70vw;
}

dialog::backdrop {
  background-color: rgb(0 0 0 / 0.4);
}

dialog h2 {
  color: var(--primary-color);
}

.field {
  display: flex;
  flex-direction: column;
  gap: 0.7em;
  margin-block: 1.7em;
}

.input-field {
  font-size: 1rem;
  font-family: "JetBrainsMono Nerd";
  padding: 0.7em;
  background-color: var(--bg-color);
  color: var(--search-input-color);
  border: none;
  outline: none;
}

.input-field:focus {
  outline: 1px solid var(--secondary-color);
}

.btn {
  padding: 0.3125em 0.9375em;
  font-size: 1.1em;
  font-family: "JetBrainsMono Nerd";
  background-color: var(--bg-dim-color);
  color: var(--fg-color);
  cursor: pointer;
  transition: all 0.22s ease-in-out 0s;
  border: 3px solid var(--secondary-color);
  box-shadow: var(--secondary-color) 2px 2px 0 0;
  outline: none;
}

.btn:hover,
.btn:focus {
  box-shadow: var(--secondary-color) 5px 5px 0 0;
}
